<div class="product-page">
    <div class="container">
        <div class="image">
            <span class="material-symbols-outlined fav">favorite</span>
            <img src="https://img.freepik.com/free-photo/pair-trainers_144627-3800.jpg?ga=GA1.1.1900006000.1721461402&semt=ais_hybrid" alt="">
        </div>
        <div class="product-details">
           <div class="produ">
            <h1 class="name">Name</h1>
            <span class="material">Material</span>
           </div>
           <div class="produ">
            <span class="price" > $ 30982739</span>
            <span class="discount">EUR 2398 (23% Off)</span>
           </div>
            <div class="sizes">
                <span class="header">Select Size (UK)</span>
                <div class="sizess">
                    <span class="size cursor">36</span>
                    <span class="size cursor">36</span>
                    <span class="size cursor">36</span>
                    <span class="size cursor">36</span>
                    <span class="size cursor">36</span>
                </div>
            </div>
            <div class="add-to-cart-button">
                <button>add to cart</button>
            </div>

            <div class="offers">

            </div>
        </div>
    </div>
</div>